@charset "UTF-8";

/* 回答はここから */
.wrapper-box {
  display: inline-block;
  background: #fff;
  padding: 20px 0;
  width: 200px;
  font-size: 16px;
}

.parent {
  display: inline-block;
  background: #a4b3e9;
  padding: 10px;
  text-align: center;
}