@charset "UTF-8";

/* 回答はここから */
.wrapper-box {
  display: inline-block;
  background: #fff;
  padding: 20px 0;
  width: 200px;
  font-size: 16px;
}

.parent {
  text-align: center;
}

.parent-text {
  display: inline-block;
  background: #a4b3e9;
  padding: 10px;
}

.parent-text2 {
  width: 90px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background: #a4b3e9;
}

.q1--perimeter {
  display: table;

}

.wrapper-box2 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}

.child-text {
  padding: 10px;
  background: #fff;
  font-size: 16px;
  display: inline-block;
}

.wrapper-box3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-text2 {
  padding: 10px;
  background: #fff;
  font-size: 16px;
  display: block;
}